@charset "UTF-8";
/*-----------------structure-------------------*/
body {
  min-height: 100vh;
  width: auto;
  margin: auto;
  overflow-wrap: break-word; }

header {
  background: #579C87;
  width: 100%;
  height: 240px; }

main {
  min-height: 100%;
  margin: auto;
  position: relative;
  padding-bottom: 200px; }

footer {
  background: #579C87;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%; }

/*------------------entête--------------------*/
.logo {
  text-align: center;
  line-height: 240px;
  font-size: 5em;
  color: #FDCB46;
  font-family: 'Paytone One', sans-serif;
  letter-spacing: -3px; }

a {
  text-decoration: none; }

/*-------------------------blocs menus----------------------*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.menu {
  margin: 100px 100px 0 100px; }
  .menu__bloc {
    height: 600px;
    width: 540px;
    margin-bottom: 100px;
    text-align: center;
    box-shadow: 1px 1px 12px #555;
    padding-top: 300px; }
  .menu__bloc--1 {
    background-color: #FCDFDB;
    line-height: 10px; }
  .menu__bloc--1 i {
    background: #f15861;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f15861 0%, #f8a183 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f15861 0%, #f8a183 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f15861 0%, #f8a183 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15861', endColorstr='#f8a183',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .menu__bloc--2 {
    background-color: #FFF5FE; }
  .menu__bloc--3 {
    background-color: #F9F9F9; }
  .menu__bloc--4 {
    background-color: #FDFFFD; }

.detail {
  /*blocs menus 1*/
  /*blocs menus 2*/
  /*blocs menus 3*/
  /*blocs menus 4*/ }
  .detail__menu1 h2 {
    font-family: 'Devonshire', cursive;
    font-size: 3em;
    padding-bottom: 20px;
    color: #3C1218; }
  .detail__menu1 h3 {
    font-family: 'Kalam', cursive;
    font-size: 3em;
    text-transform: uppercase;
    color: #3C1218; }
  .detail__menu2 h2 {
    font-family: 'Aref Ruqaa', serif;
    font-size: 2em;
    background: #c77412;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c77412 0%, #905bfd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c77412 0%, #905bfd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#905bfd',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .detail__menu2 h3 {
    font-family: 'Cantata One', serif;
    font-size: 3em;
    color: #C77412; }
  .detail__menu3 h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    background: #0000e0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0000e0 0%, #0887fb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0000e0 0%, #0887fb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0000e0 0%, #0887fb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000e0', endColorstr='#0887fb',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .detail__menu3 h3 {
    font-family: 'Kalam', cursive;
    font-size: 3em;
    color: #0887FB; }
  .detail__menu4 h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3em;
    background: #3d9339;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3d9339 0%, #bfff7e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3d9339 0%, #bfff7e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3d9339 0%, #bfff7e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9339', endColorstr='#bfff7e',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .detail__menu4 h3 {
    font-family: 'Kalam', cursive;
    font-size: 3em;
    color: #72BF56; }

/*-----------------------bouton-----------------------*/
.btn {
  background: #579C87;
  width: 650px;
  height: 118px;
  color: #FDCB46;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  font-size: 2.5em;
  line-height: 118px;
  font-family: 'Roboto', sans-serif; }

/*--------------------contenu footer---------------------*/
.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif; }
  .footer__contenu {
    margin: 0 40px 0 40px;
    font-size: 2.3em;
    line-height: 90px;
    color: #FDCB46; }

/*-------------------------CONTENU GENERAL DES MENUS------------------------*/
#titre_carte {
  text-align: center;
  font-size: 3em;
  margin-top: 100px;
  color: #353535;
  font-family: "arial bold"; }

.sous_titre {
  display: flex;
  justify-content: space-around;
  align-items: center; }

/*-------------------------CARTE 1 LA NOTE ENCHANTEE-------------------*/
.carte1 {
  text-align: center;
  background: #FCDFDB;
  width: 1180px;
  height: 1680px;
  margin: auto;
  padding: 100px 0 100px 0;
  box-shadow: 1px 1px 12px #555;
  color: #3C1218; }
  .carte1 i {
    background: #f15861;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f15861 0%, #f8a183 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f15861 0%, #f8a183 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f15861 0%, #f8a183 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15861', endColorstr='#f8a183',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .carte1 h2 {
    font-family: 'Devonshire', cursive;
    font-size: 4em;
    line-height: 8px;
    padding-bottom: 50px; }
  .carte1 h3 {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center; }
  .carte1 h4 {
    font-family: 'Devonshire', cursive;
    font-size: 3em;
    text-align: center; }
  .carte1__contenu {
    font-family: 'Kalam', cursive;
    font-size: 1.8em;
    text-align: left;
    padding: 0 100px 50px 100px; }
  .carte1__plats {
    display: flex;
    justify-content: space-between;
    line-height: 10px; }
  .carte1__plats__prix {
    font-weight: bold; }

/*-------------------------CARTE 2 LA NOTE ENCHANTEE-------------------*/
.carte2 {
  font-family: 'Aref Ruqaa', serif;
  text-align: center;
  background: #FFF5FE;
  width: 1180px;
  height: 1680px;
  margin: auto;
  padding: 100px 0 100px 0;
  box-shadow: 1px 1px 12px #555;
  color: #3C1218; }
  .carte2 h2 {
    font-size: 4em;
    padding-bottom: 50px;
    background: #c77412;
    /* Old browsers */
    background: -moz-linear-gradient(left, #c77412 0%, #905bfd 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c77412 0%, #905bfd 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c77412 0%, #905bfd 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#905bfd',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .carte2 h3 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center; }
  .carte2__contenu {
    font-size: 1.8em;
    text-align: left;
    padding: 0 100px 50px 100px; }
  .carte2__contenu--1 {
    color: #C67412; }
  .carte2__contenu--2 {
    color: #A56799; }
  .carte2__contenu--3 {
    color: #6E4CCC; }
  .carte2__plats {
    display: flex;
    justify-content: space-between;
    line-height: 10px; }
  .carte2__plats__prix {
    font-weight: bold; }

/*-------------------------CARTE 3 LE DELICE DES PAPILLES-------------------*/
.carte3 {
  font-family: 'Kalam', cursive;
  text-align: center;
  background: #EDEFEF;
  width: 1180px;
  height: 1680px;
  margin: auto;
  padding: 100px 0 100px 0;
  box-shadow: 1px 1px 12px #555;
  color: #000000; }
  .carte3 h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    padding-bottom: 50px;
    background: #0000e0;
    /* Old browsers */
    background: -moz-linear-gradient(left, #0000e0 0%, #0887fb 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0000e0 0%, #0887fb 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0000e0 0%, #0887fb 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000e0', endColorstr='#0887fb',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .carte3 h3 {
    font-size: 1.8em;
    text-align: center; }
  .carte3__contenu {
    font-size: 1.8em;
    text-align: left;
    padding: 0 100px 100px 100px; }
  .carte3__plats {
    display: flex;
    justify-content: space-between;
    line-height: 10px; }
  .carte3__plats__prix {
    font-weight: bold; }

/*-------------------------CARTE 4 LA PALETTE DU GOUT-------------------*/
.carte4 {
  font-family: 'Kalam', cursive;
  text-align: center;
  background: #FDFFFD;
  width: 1180px;
  height: 1680px;
  margin: auto;
  padding: 100px 0 100px 0;
  box-shadow: 1px 1px 12px #555;
  color: #000000; }
  .carte4 h2 {
    font-size: 5em;
    font-family: 'Kaushan Script', cursive;
    background: #3d9339;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3d9339 0%, #bfff7e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3d9339 0%, #bfff7e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3d9339 0%, #bfff7e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9339', endColorstr='#bfff7e',GradientType=1 );
    /* IE6-9 */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }

/*-----------------ANIMATIONS-----------------*/
/*---------------animation menus-------------*/
.detail {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out; }

.menu__bloc:hover .detail {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  opacity: .5; }

/*-------------animation bouton-----------*/
.btn:after {
  content: '.';
  animation: dots 1s steps(1, end) infinite; }

@keyframes dots {
  0%, 20% {
    color: rgba(255, 0, 0, 0);
    /*couleur point n1 au depart*/
    text-shadow: 0.25em 0 0 rgba(0, 255, 0, 0), 0.5em 0 0 rgba(0, 0, 255, 0);
    /*couleur point n3 avant le point n1*/ }
  40% {
    color: #FDCB46;
    /*couleur point n1 1ere phase*/
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
    /*couleur point n3 1ere phase, apparait en meme temps que le point n1*/ }
  60% {
    text-shadow: 0.25em 0 0 #FDCB46, 0.5em 0 0 rgba(0, 0, 0, 0);
    /*couleur point n3 1ere phase, apparait en meme temps que le point n2*/ }
  80%, 100% {
    text-shadow: 0.25em 0 0 #FDCB46, 0.5em 0 0 #FDCB46;
    /*couleur point n3 2eme phase*/ } }
/*--------------animation liens footer-------------*/
.footer__contenu:hover {
  animation: shake 0.5s;
  /*nature, debut et duree de l'animation*/
  animation-iteration-count: infinite;
  /*boucle de l'animation*/ }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
/*--------------------animation details menus------------------*/
.sous_titre h3:hover:after {
  transform: scaleX(1); }

.sous_titre h3:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-bottom: solid 4px;
  transform: scaleX(0);
  transition: 1s;
  transform-origin: 0%; }

/*-----------------RESPONSIVE - MEDIA QUERIES-----------------*/
@media screen and (max-width: 900px) {
  /*----------------general----------------*/
  header {
    height: 100px; }

  .logo {
    text-align: center;
    line-height: 100px;
    font-size: 3em; }

  main {
    padding-bottom: 160px; }

  /*----------------footer----------------*/
  footer {
    height: 70px; }

  .footer__contenu {
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
    font-size: 1em;
    line-height: 70px; }

  /*-----------------accueil-----------------*/
  .menu {
    margin: 50px 0px 0 0px; }
    .menu__bloc {
      height: 260px;
      width: 280px;
      margin-bottom: 60px;
      padding-top: 60px; }
    .menu__bloc--1 {
      background-color: #FCDFDB;
      line-height: 10px; }

  .detail {
    /*blocs menus 1*/
    /*blocs menus 2*/
    /*blocs menus 3*/
    /*blocs menus 4*/ }
    .detail__menu1 h2 {
      font-size: 2em;
      padding-bottom: 20px; }
    .detail__menu1 h3 {
      font-size: 2em; }
    .detail__menu2 h2 {
      font-size: 1em; }
    .detail__menu2 h3 {
      font-size: 2em; }
    .detail__menu3 h2 {
      font-size: 2em; }
    .detail__menu3 h3 {
      font-size: 2em; }
    .detail__menu4 h2 {
      font-size: 2em; }
    .detail__menu4 h3 {
      font-size: 2em; }

  /*----------------bouton----------------*/
  .btn {
    width: 250px;
    height: 80px;
    font-size: 1.5em;
    line-height: 80px; }

  /*-------------------------CONTENU GENERAL DES MENUS------------------------*/
  #titre_carte {
    text-align: center;
    font-size: 2em;
    margin: 50px 0 20px 0; }

  .sous_titre {
    flex-direction: column;
    justify-content: none;
    margin-top: -30px;
    line-height: 10px; }
    .sous_titre__deco {
      width: 200px;
      height: auto; }

  /*-------------------------CARTE 1 LA NOTE ENCHANTEE-------------------*/
  .carte1, .carte2, .carte3, .carte4 {
    width: 98%;
    height: auto;
    padding: 100px 0 100px 0; }
    .carte1 h2, .carte2 h2, .carte3 h2, .carte4 h2 {
      display: none; }
    .carte1 h3, .carte2 h3, .carte3 h3, .carte4 h3 {
      font-size: 1.5em; }
    .carte1 h4, .carte2 h4, .carte3 h4, .carte4 h4 {
      font-size: 2em; }
    .carte1__contenu, .carte2__contenu, .carte3__contenu, .carte4__contenu {
      font-size: 1.3em;
      text-align: center;
      padding: 0 5px 40px 5px; }
    .carte1__plats, .carte2__plats, .carte3__plats, .carte4__plats {
      flex-direction: column;
      justify-content: none;
      line-height: 30px; }
    .carte1__plats__prix, .carte2__plats__prix, .carte3__plats__prix, .carte4__plats__prix {
      font-size: 1.6em;
      margin-top: 2px; }

  #note_music {
    display: none; } }

/*# sourceMappingURL=style.css.map */
