$color-primary:#579C87;
$text-color:#FDCB46;

/*-----------------structure-------------------*/
body{
    min-height: 100vh;
    width: auto;
    margin: auto;
    overflow-wrap: break-word;
}

header{
	background:$color-primary;
	width: 100%;
	height: 240px;
}

main{
	min-height:100%;
	max-width: 90%;
	margin: auto;
	position: relative;
	padding: (0 0 200px 0);
	justify-content: space-between;
}

footer{
	background:$color-primary;
	height: 90px;
	position:fixed;
	bottom:0;
	width:100%;
}
/*------------------entête--------------------*/
.logo{
	text-align: center;
	line-height: 240px;
	font-size: 5em;
	color:$text-color;
	font-family: 'Paytone One', sans-serif;
	letter-spacing: -3px;
}

a{
	text-decoration: none;
}

/*-------------------------blocs menus----------------------*/
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.menu{
	margin: (100px 100px 0 100px);
	&__bloc{
	height: 600px;
	width: 540px;
	margin-bottom: 100px;
	text-align: center;
	box-shadow: 1px 1px 12px #555;
	padding-top: 300px;
    }
	&__bloc--1{
	background-color: #FCDFDB;
	line-height: 10px;
	}
	&__bloc--1 i{ 
	background: rgb(241,88,97); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(241,88,97,1) 0%, rgba(248,161,131,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(241,88,97,1) 0%,rgba(248,161,131,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(241,88,97,1) 0%,rgba(248,161,131,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15861', endColorstr='#f8a183',GradientType=1 ); /* IE6-9 */
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	} 
	&__bloc--2{
	background-color: #FFF5FE;
	}
	&__bloc--3{
	background-color: #F9F9F9;
	}
	&__bloc--4{
	background-color: #FDFFFD;
	}
}

.detail{
/*blocs menus 1*/
	&__menu1 h2{
		font-family: 'Devonshire', cursive;
		font-size: 3em;
		padding-bottom: 20px;
		color:#3C1218;
	}
	&__menu1 h3{
		font-family: 'Kalam', cursive;
		font-size: 3em;
		text-transform: uppercase;
		color:#3C1218;
	}
/*blocs menus 2*/	
	&__menu2 h2{
		font-family: 'Aref Ruqaa', serif;
		font-size: 2em;
		background: #c77412; /* Old browsers */
		background: -moz-linear-gradient(left,  #c77412 0%, #905bfd 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #c77412 0%,#905bfd 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #c77412 0%,#905bfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#905bfd',GradientType=1 ); /* IE6-9 */
		-webkit-text-fill-color:transparent;
		-webkit-background-clip:text;
	}
	&__menu2 h3{
		font-family: 'Cantata One', serif;
		font-size: 3em;
		color:#C77412;
	}
/*blocs menus 3*/
	&__menu3 h2{
		font-family: 'Dancing Script', cursive;
		font-size: 3em;
		background: rgb(0,0,224); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(0,0,224,1) 0%, rgba(8,135,251,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(0,0,224,1) 0%,rgba(8,135,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(0,0,224,1) 0%,rgba(8,135,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000e0', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 */
		-webkit-text-fill-color:transparent;
		-webkit-background-clip:text;
	}
	&__menu3 h3{
		font-family: 'Kalam', cursive;
		font-size: 3em;
		color:#0887FB;
	}
/*blocs menus 4*/
	&__menu4 h2{
		font-family: 'Kaushan Script', cursive;
		font-size: 3em;
		background: rgb(61,147,57); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(61,147,57,1) 0%, rgba(191,255,126,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(61,147,57,1) 0%,rgba(191,255,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(61,147,57,1) 0%,rgba(191,255,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9339', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 */
		-webkit-text-fill-color:transparent;
		-webkit-background-clip:text;
	}
	&__menu4 h3{
		font-family: 'Kalam', cursive;
		font-size: 3em;
		color:#72BF56;
	}
}

/*-----------------------bouton-----------------------*/
.btn{
	background:$color-primary;
	width: 650px;
	height: 118px;
	color:$text-color;
	border-radius: 20px;
	margin:auto; 
	text-align: center;
	font-size: 2.5em;
	line-height: 118px;
	font-family: 'Roboto', sans-serif;
}

/*--------------------contenu footer---------------------*/
.footer{
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	&__contenu{
	margin: (0 40px 0 40px);
	font-size: 2.3em;
	line-height: 90px;
	color:$text-color;
	}
}

/*-------------------------CONTENU GENERAL DES MENUS------------------------*/
#titre_carte{
	text-align: center;
	font-size: 3em;
	margin-top: 100px;
	color: #353535;
	font-family: "arial bold";
}

.sous_titre{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*-------------------------CARTE 1 LA NOTE ENCHANTEE-------------------*/
.carte1{
	text-align: center;
	background: #FCDFDB;
	width: 1180px;
	height: 1680px;
	margin:auto;
	padding: (100px 0 100px 0); 
	box-shadow: 1px 1px 12px #555;
	color:#3C1218;
	& i{ 
	background: rgb(241,88,97); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(241,88,97,1) 0%, rgba(248,161,131,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(241,88,97,1) 0%,rgba(248,161,131,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(241,88,97,1) 0%,rgba(248,161,131,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15861', endColorstr='#f8a183',GradientType=1 ); /* IE6-9 */
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	} 
	& h2{
	font-family: 'Devonshire', cursive;
	font-size: 4em;
	line-height: 8px;
	padding-bottom: 50px;
	}
	& h3{
	font-family: 'Kalam', cursive;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	}
	& h4{
	font-family: 'Devonshire', cursive;
	font-size: 3em;
	text-align: center;
	}
	&__contenu{
		font-family: 'Kalam', cursive;
		font-size: 1.8em;
		text-align: left;
		padding: (0 100px 50px 100px);
	}
	&__plats{
		display: flex;
		justify-content: space-between;
		line-height: 10px;
	}
	&__plats__prix{
		font-weight: bold;	
	}
	&__logo{

	}
}

/*-------------------------CARTE 2 LA NOTE ENCHANTEE-------------------*/
.carte2{ 
	font-family: 'Aref Ruqaa', serif;
	text-align: center;
	background: #FFF5FE;
	width: 1180px;
	height: 1680px;
	margin:auto;
	padding: (100px 0 100px 0); 
	box-shadow: 1px 1px 12px #555;
	color:#3C1218;
	& h2{
	font-size: 4em;
	padding-bottom: 50px;
	background: #c77412; /* Old browsers */
	background: -moz-linear-gradient(left,  #c77412 0%, #905bfd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #c77412 0%,#905bfd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #c77412 0%,#905bfd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c77412', endColorstr='#905bfd',GradientType=1 ); /* IE6-9 */
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	}
	& h3{
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	}
	&__contenu{
		font-size: 1.8em;
		text-align: left;
		padding: (0 100px 50px 100px);
	}
	&__contenu--1{
		color:#C67412;
	}
	&__contenu--2{
		color:#A56799;
	}
	&__contenu--3{
		color:#6E4CCC;
	}
	&__plats{
		display: flex;
		justify-content: space-between;
		line-height: 10px;
	}
	&__plats__prix{
		font-weight: bold;	
	}
}

/*-------------------------CARTE 3 LE DELICE DES PAPILLES-------------------*/
.carte3{
	font-family: 'Kalam', cursive;
	text-align: center;
	background: #EDEFEF;
	width: 1180px;
	height: 1680px;
	margin:auto;
	padding: (100px 0 100px 0); 
	box-shadow: 1px 1px 12px #555;
	color:#000000;
	& h2{
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	padding-bottom: 50px;
	background: rgb(0,0,224); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(0,0,224,1) 0%, rgba(8,135,251,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,224,1) 0%,rgba(8,135,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,224,1) 0%,rgba(8,135,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000e0', endColorstr='#0887fb',GradientType=1 ); /* IE6-9 */
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	}
	& h3{
	font-size: 1.8em;
	text-align: center;
	}
	&__contenu{
		font-size: 1.8em;
		text-align: left;
		padding: (0 100px 100px 100px);
	}
	&__plats{
		display: flex;
		justify-content: space-between;
		line-height: 10px;
	}
	&__plats__prix{
		font-weight: bold;	
	}
}

/*-------------------------CARTE 4 LA PALETTE DU GOUT-------------------*/
.carte4{
	font-family: 'Kalam', cursive;
	text-align: center;
	background: #FDFFFD;
	width: 1180px;
	height: 1680px;
	margin:auto;
	padding: (100px 0 100px 0); 
	box-shadow: 1px 1px 12px #555;
	color:#000000;
	& h2{
	font-size: 5em;
	font-family: 'Kaushan Script', cursive;
		background: rgb(61,147,57); /* Old browsers */
		background: -moz-linear-gradient(left,  rgba(61,147,57,1) 0%, rgba(191,255,126,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(61,147,57,1) 0%,rgba(191,255,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(61,147,57,1) 0%,rgba(191,255,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9339', endColorstr='#bfff7e',GradientType=1 ); /* IE6-9 */
		-webkit-text-fill-color:transparent;
		-webkit-background-clip:text;
	}
}

/*-----------------ANIMATIONS-----------------*/

/*---------------animation menus-------------*/
.detail {
    transform: scale(1);
    transition: 1s ease-in-out;
    opacity: 1;
}

.menu__bloc:hover .detail {
    transform: scale(1.4);
    opacity: .5;
}

/*-------------animation bouton-----------*/
.btn:after {
    content: '.';
    animation: dots 1s steps(1, end) infinite;
}
  
  @keyframes dots {
    0%, 20% {
      color: rgba(255,0,0,0);				/*couleur point n1 au depart*/
      text-shadow:
        .25em 0 0 rgba(0,255,0,0),			/*distance - alignement verticale - flou - couleur point n2 avant le point n1*/
        .5em 0 0 rgba(0,0,255,0);			/*couleur point n3 avant le point n1*/
    }
    40% {
      color: $text-color;					/*couleur point n1 1ere phase*/
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),			/*couleur point n2 1ere phase, apparait en meme temps que le point n1*/
        .5em 0 0 rgba(0,0,0,0);				/*couleur point n3 1ere phase, apparait en meme temps que le point n1*/
    }
    60% {
      text-shadow:
        .25em 0 0 $text-color,				/*couleur point n2 1ere phase*/
        .5em 0 0 rgba(0,0,0,0);				/*couleur point n3 1ere phase, apparait en meme temps que le point n2*/	
    }
    80%, 100% {
      text-shadow:							
        .25em 0 0 $text-color,				/*couleur point n2 2eme phase*/
        .5em 0 0 $text-color;             	/*couleur point n3 2eme phase*/
    }
}

/*--------------animation liens footer-------------*/
.footer__contenu:hover {
    animation: shake 0.5s; /*nature, debut et duree de l'animation*/
    animation-iteration-count: infinite; /*boucle de l'animation*/
  }

@keyframes shake {
     0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/*--------------------animation details menus------------------*/
.sous_titre h3:hover:after {
    transform: scaleX(1);
  }
  .sous_titre h3:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-bottom: solid 4px;
    transform: scaleX(0);
    transition: 1s;
    transform-origin: 0%;
  }

/*-----------------RESPONSIVE - MEDIA QUERIES-----------------*/
@media screen and (max-width: 1500px) {
	.container{
		justify-content: space-between;
		}

/*-------------------------CONTENU GENERAL DES MENUS------------------------*/
	.sous_titre{
		flex-direction: column;
		margin-top: -30px;
		line-height: 10px;
		&__deco{
			width: 200px;
			height: auto;
		}
	}

/*-------------------------CARTES-------------------*/
	.carte1, .carte2, .carte3, .carte4 {
		width: 90%;
		height: auto;
		padding: (100px 0 100px 0);
		& h2{
		display: none;
		}
		&__contenu{
			text-align: center;
			padding: (0 5px 40px 5px);
		}
		&__plats{
			flex-direction: column;
			line-height: 30px;
		}
		&__plats__prix{
			font-size: 1.6em;
			margin-top:2px; 
		}
	}
	#note_music{
		display: none;
	}
}


@media screen and (min-width: 600px) {
	.container{
		margin: auto;
		justify-content: space-around;
		}
}


@media screen and (max-width: 600px) {
/*----------------general----------------*/
	header {
    	height: 100px;
    }
    .logo {
	    text-align: center;
		line-height: 100px;
		font-size: 3em;
    }

	main{
		padding-bottom: 160px;
	}

/*----------------footer----------------*/
	footer{
    	height: 70px;
	}

	.footer__contenu{
		margin: (0 0 0 0);
		padding: (0 15px 0 15px);
		font-size: 1em;
		line-height: 70px;
	}
	
/*-----------------accueil-----------------*/
	.container{
		margin: auto;
		justify-content: space-around;
		}

	.menu{
		margin: (50px 0px 0 0px);
		&__bloc{
		height: 260px;
		width: 280px;
		margin-bottom: 60px;
		padding-top: 60px;
	    }
		&__bloc--1{
		background-color: #FCDFDB;
		line-height: 10px;
		}
		&__bloc--1 i{

		}	
	}
	.detail{
	/*blocs menus 1*/
		&__menu1 h2{
			font-size: 2em;
			padding-bottom: 20px;
		}
		&__menu1 h3{
			font-size: 2em;
		}
	/*blocs menus 2*/	
		&__menu2 h2{
			font-size: 1em;
		}
		&__menu2 h3{
			font-size: 2em;
		}
	/*blocs menus 3*/
		&__menu3 h2{
			font-size: 2em;
		}
		&__menu3 h3{
			font-size: 2em;
		}
	/*blocs menus 4*/
		&__menu4 h2{
			font-size: 2em;
		}
		&__menu4 h3{
			font-size: 2em;
		}
	}
/*----------------bouton----------------*/
	.btn{
		width: 250px;
		height: 80px;
		font-size: 1.5em;
		line-height: 80px;
		}
/*-------------------------CONTENU GENERAL DES MENUS------------------------*/
	#titre_carte{
		text-align: center;
		font-size: 2em;
		margin: (50px 0 20px 0);
		}

/*-------------------------CARTE 1 LA NOTE ENCHANTEE-------------------*/
	.carte1, .carte2, .carte3, .carte4 {
		width: 98%;
		& h3{
		font-size: 1.5em;
		}
		& h4{
		font-size: 2em;
		}
		&__contenu{
			font-size: 1.3em;
		}
	}
}
	




